name: gobenchdata publish
on:
  push:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: "The specific commit SHA to run the workflow on"
        required: false
        type: string
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Install libdeflate
        run: |
          sudo apt-get update
          sudo apt-get install -y libdeflate-dev libdeflate0
      - name: checkout
        uses: actions/checkout@v5
        with:
          # Use the provided input commit_sha if available, otherwise use the commit from the trigger
          ref: ${{ github.event.inputs.commit_sha || github.sha }}
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          check-latest: true
          cache: true
      - name: gobenchdata publish
        run: go run go.bobheadxi.dev/gobenchdata@v1 action
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          # Instead of 'with: ...', provide environment variables and
          # prefix each input variable with 'INPUT'
          INPUT_PRUNE_COUNT: 30
          INPUT_GO_TEST_FLAGS: -cpu 1,2
          INPUT_PUBLISH: true
          INPUT_PUBLISH_BRANCH: gh-pages
